<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sturnus</title>
	
	<!--<script src="/files/d3.v2.js"></script>
	<script src="/files/bootstrap/js/bootstrap.js"></script>

	<script src="/files/mytwitlib.js"></script>
	<script src="/files/d3.v2.js"></script>
	<script src="http://www.parsecdn.com/js/parse-1.0.12.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href="/files/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/files/bootstrap/css/bootstrap-responsive.css" />-->
	<link rel="stylesheet" type="text/css" href="/files/styles.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
 
	
	
  </head>
  <body>

<div class="container">
<script type="text/javascript" src="/files/gridster/dist/jquery.gridster.js"></script>
<link rel="stylesheet" type="text/css" href="/files/gridster/dist/jquery.gridster.css" />
<div class="gridster">

          <ul class="mainul">

            <li class="sq" data-row="1" data-col="1" data-sizex="2" data-sizey="1">
				<div class="data-container">
				<h1>192,120</h1>
				<p>People talking about this.</p>
				</div>
			
			</li>
            <li class="sq" data-row="1" data-col="3" data-sizex="2" data-sizey="1">	
				<div class="data-container">
					<h3>Looking for your interests:</h3>
					<p>obama, #obama, obama2012</p>
					</div>
					
			</li>
            <li class="sq" data-row="1" data-col="5" data-sizex="2" data-sizey="3">
			
			<div class="data-container">
				<div class="mini-feed">
				<h3> Recent feed </h3>
				<hr/>
					<strong>@WendellPierce</strong>
					<p class="feed-item">
					         As of today, all new health plans must cover a range of women's preventive services with no out-of-pocket charges. Thank U President.
					</p>
					<hr/>
					<strong>@JedediahBila</strong>
					<p class="feed-item">
					         Ann Romney slammed for $990 Shirt, Michelle Obama praised for $6,800 jacket http://fxn.ws/OnEduo via @fox411
					</p>
					<hr/>
					<strong>@FoxNews</strong>
					<p class="feed-item">
					         High-fashion hypocrisy -- media slams Ann #Romney for $990 shirt, praises Michelle #Obama for $6,800 jacket http://fxn.ws/R8idsc
					</p>
					<hr/>
					<strong>@ThePlumLineGS</strong>
					<p class="feed-item">
					        100 people in the top 2 percent sign a letter saying, in effect: Obama is right, we didn't build that: http://wapo.st/MRtf4z
					</p>
					<hr/>
					</div>
			</div>
			
			
			
			</li>
			
			<li class="sq" data-row="2" data-col="1" data-sizex="2" data-sizey="1">
				<div class="data-container">
				<h1>3,492,247</h1>
				<p>People hearing about this.</p>
				</div>
			
			</li>
			<li class="sq" data-row="2" data-col="3" data-sizex="2" data-sizey="2">
			
			<div class="data-container">
				<img src="/files/img/obama-word-cloud.png"  />
				</div>
			
			
			
			
			</li>
			<li class="sq" data-row="3" data-col="1" data-sizex="1" data-sizey="1">
			<div class="data-container">
				<strong>Most influencers:</strong>
				<ul style="margin:0px;padding: 0px;">
					<li>@Obama2012</li>
					<li>@BarackObama</li>
					<li>@FoxNews</li>
				</ul>
				</div>
			
			</li>
			<li class="sq" data-row="3" data-col="2" data-sizex="1" data-sizey="1">
			
			<div class="data-container">
				<strong>VIP users:</strong>
				<ul style="margin:0px;padding: 0px;">
					<li>@Obama2012</li>
					<li>@BarackObama</li>
					<li>@FoxNews</li>
				</ul>
				</div></li>	
          </ul>

        </div>



</div>


<script type="text/javascript">
   var gridster;
  $(function(){

    gridster = $(".gridster .mainul").gridster({

        widget_margins: [10, 10],

        widget_base_dimensions: [140, 120],

        min_cols: 6,

        min_rows: 20

    }).data('gridster');

  });
</script>		 

{% block main_view %}

{%endblock%}

  </body>
</html>